#template-with-background
  #content
    %h2 {{title}}
    %p
      This is super cool app. Lorem ipsum dolor sit amet neque ante, porta est. Sed sed leo ac quam in est.
      Sed euismod convallis viverra, est neque, malesuada fames ac purus. Aliquam ut eros. Sed posuere cubilia.