%h1
  Notes
  #add-new-note.glyphicon.glyphicon-plus{'ng-click'=>'addNewNote()'}

.row#notes
  %div{'ng-repeat'=>'note in notes'}
    .clearfix{'ng-if'=>"$index % 4 == 0"}
    %my-note.col-sm-3
      .well.well-sm
        .glyphicon.glyphicon-remove.pull-right.delete_button{'ng-click'=>'deleteNote(note)'}
        %textarea{'ng-model'=> 'note.content', 'required'=> 'true' }
        .buttons
          %button{'type'=>'button',
                  'class'=>'btn btn-primary btn-sm',
                  'ng-click'=>'saveNote(note)'} Save
          %button{'type'=>'button',
                  'class'=>'btn btn-warning btn-sm',
                  'ng-click'=>'cancelEdit(note)',
                  'ng-show'=>'note.id && note.editing'} Cancel Editing
          %button{'type'=>'button',
                  'class'=>'btn btn-danger btn-sm',
                  'ng-click'=>'deleteNote(note)'} Delete