%h1
  Notes
  //%add-new.glyphicon.glyphicon-plus

.row
  %my-note.col-sm-3{'ng-repeat'=>'note in notes'}
    .well.well-sm
      .glyphicon.glyphicon-remove.pull-right.delete_button{'ng-click'=>'deleteNote(note)'}
      .note-content
        {{note.content}}
      %input{'type' => 'text',
             'class' => 'edit-note',
             'ng-model'=> 'note.content' }
