.note-content {
  min-height: 22px;
  vertical-align: bottom;
}

.note.ng-leave {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 1;
}

.note.ng-leave.ng-leave-active {
  opacity: 0
}

.note .delete_button {
  cursor: pointer;
}
/*
.note.ng-enter {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity: 1;
}

.note.ng-enter.ng-enter-active {
  opacity: 0;
}
*/

.edit-note:focus {
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color auto 0px;
}

my-note {
  textarea {
    width: 90%;
    min-height: 100%;
    //height: 100%;
    border: 0;
    background-color: #f5f5f5;
    outline: none;
    resize: none;
    overflow: hidden;
  }
  .buttons {
    display: none;
  }
}

#add-new-note.glyphicon {
  cursor: pointer;
  outline: none;
}

#add-new-note.glyphicon:hover {}

#add-new-note.glyphicon:active {
  transform: translateY(4px);
}

.ng-invalid {
  background-color: #dcdcdc;
  //border: 1px solid #000000;
  //animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  //transform: translate3d(0, 0, 0);
  //backface-visibility: hidden;
  //perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}