/*.ng-leave {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity: 1;
}

.ng-leave.ng-leave-active {
  opacity: 0;
}

.note.ng-enter {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity: 1;
}

.note.ng-enter.ng-enter-active {
  opacity: 0;
}
*/

.edit-note {
  border: 0;
  background-color: #f5f5f5;
}
