@import "bootstrap-sprockets";
@import "bootstrap";

@import 'main';
@import 'navbar';
@import "notes";
@import 'buttons';

#template-with-background {
  margin: 50px 0;
  background: #EFEFEF;

  #content {
    padding: 25px;
  }
}