%h1
  Notes
  .glyphicon.glyphicon-plus

.row
  .col-sm-3.note{'ng-repeat'=>'note in notes'}
    .well.well-sm
      .glyphicon.glyphicon-remove.pull-right{'ng-click'=>'deleteNote(note)'}
      {{note.content}}