%nav.navbar.navbar-default
  .container-fluid.container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
      %a.navbar-brand{:href => "#"} Organizer

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "#"}
            Home
            %span.sr-only (current)
        %li
          %a{:href => "#notes"} Notes